/****CSS DE LA MODALE DU BTN CONTACT*********/
/* le formulaire de la modale */
#form1 {
	margin-left: 25%;
	margin-top: 20%;

}

#form1 label {
	/*******/
	color: #313144;
	font-size: 12px;
	line-height: 18px;
}

#form1 input {
	border-width: 1px;
	border-radius: 10px;
	border-color: #B8BBC2;
	width: 263px;
	height: 40px;
}

#form1 textarea {
	border-width: 1px;
	border-radius: 10px;
	border-color: #B8BBC2;
	width: 263px;
	height: 210px;
}

.btnForm1 {
	background-color: #D8D8D8;
	border: none;
	border-radius: 0px !important;
	color: #000 !important;
	width: 269px !important;
	height: 40px;

}


/* la modale  */
.img {
	position: absolute;
	/* left: -22%; */
	width: 100%;
	height: 98px;
	/* background: url('./assets/images/Contact.png'); */
}

#modal-contact {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	/* z-index: 9999; */
}

.modal-content {

	overflow: hidden;
	width: 597px;
	height: 725px;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 20px;
	box-sizing: border-box;
	border-radius: 10px;
}

.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
}