
main{
	/* width: 90vw; */
	margin: 0% 3vw;
    }
    .photo{
	display: flex;
	flex-direction: row;
	align-items: end;
	margin-bottom:1vh;
    }
    
    .info-photo{
	width:50vw;
	font-family: 'SpaceMono','sans-serif';
	border-bottom: black solid 2px;
	margin-bottom: 2.2vh;
	margin-right: 2vw;
	

    }
  
    
    .info-photo h1{
	font-family: 'SpaceMono','sans-serif';
	font-size: 4em;
	width:26vw;
	font-weight: 400;
	font-style: italic;
	line-height: 58px;
    }
    
    .photo-content{
	width:50vw;
    }
    .photo-content img{
	object-fit: contain !important;
	min-width: 50vw !important;
	/* height: auto!important; */
	object-position: right;
	/* min-height: 70vh; */
    }


/**la 2eme partie **/
.attachment-post-thumbnail.size-post-thumbnail.wp-post-image{
	object-fit: cover;
	width:100px;
	height:100px;
	/* border: 1px solid black; */
    }
   
    .partie_2{
	border-bottom:solid black 2px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 2vh;
	justify-content: space-between;
	height: 118px;
    }
    
    .partie_2 input{
	width: 15vw;
	background-color:#D8D8D8;
	font-family: "SpaceMono","sans serif";
	border: 0px;
	margin-left: 5vw;
    }
    
    .partie_2 p{
	font-family: "Poppins";
	font-size:0.8em ;
	display: flex;
	height: 4vh;
    }

/**la 3eme partie **/
    .wp-block-image img{
	width:42vw;
	height:70vh !important;
	object-fit: cover !important;
	margin: 0 0 0 1.43vw;
	/* background-color: red; */
	
    }
   
    #photosapp{
	display: flex;
	
    }
    
    .partie_3{
	font-family: 'SpaceMono';
	margin-bottom: 1vh;
	margin-top: 4vh;
    }
    
    .partie_3 a{
    text-decoration: none;
    }
    
 #lienAcc{
	text-align: center;
	background: #D8D8D8;
	border: 0px;
	padding: 1vh;
	font-family:'Poppins','sans serif';
	margin:auto;
	width: 272px;
	height: 50px;
    } 
    
    .partie_3 #lienAcc{
	margin-top: 3vh;
	margin-bottom: 5vh;
	display: block;
    }

  


.site-navigation {display: flex;}

.site-navigation-prev,
.site-navigation-next {
    text-align: center;
    padding: 0 10px;
}

.site-navigation-prev .wp-post-image,
.site-navigation-next .wp-post-image {
    width: 77px;
    opacity: 0;
    /* transition: all 0.5s ease-in-out; */
}

.site-navigation-prev:hover .wp-post-image,
.site-navigation-next:hover .wp-post-image {
    opacity: 1;
}

/* .photo__contact {
    padding: 20px 0 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
} */

.flecheGauche{
	margin-right: -7vw;
}

.overlay-imageSingle {
	position: relative;
	width: auto;
	margin-bottom: 5vh;
}

.overlay-imageSingle .hoverSingle {
	position: absolute;
	top: 0;
	height: 70vh;
	width: 42vw;
	opacity: 0;
	/* transition: .5s ease; */
}

.overlay-imageSingle:hover .hoverSingle {
	opacity: 1;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
	margin-left: 1.5vw;
 
}
.overlay-imageSingle .texte {
	position: absolute;
	bottom: 1vh;
	left: 1vw;
	font-family: 'Poppins', 'sans serif';
	color: #ffffff;
}

/*******responsive**********/
@media screen and (max-width: 769px) {
.photo {
	display: flex;
	flex-direction: column-reverse;}
	.photo-content {
		width: auto;
	    }
	    .wp-block-image img{
		width: 90vw;
	    }
	.info-photo {
		width: 100%;
	}
	.site-navigation{
		display: none;
	}
#photosapp{
	display: block;
}
.info-photo {
	display: flex;
	align-items: normal;
	margin: 0vw -2vw 0vw 0vw;
	flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 8vw;
    border-bottom: black solid 1px;
}
.partie_2  {
	display: block;
	padding-bottom: 0vh;
	height: 13vh;
	border-bottom: solid black 1px;
}
.partie_2 p {
	display: grid;
	margin: 10vw 0vw 0vw 15vw;
	
	
}
.partie_2 input {
	width: 60vw;
	height: 6vh;
	margin:1vw 0vw;
    }
.partie_3 p{
margin-left: 19vw;
font-size: 18px;
}

.overlay-imageSingle .hoverSingle {
	
	width: 90vw
	
	/* transition: .5s ease; */
}

}